<div class="container">
  <h1 style="font-weight:bold; margin-bottom: 20px; color: #EF7030;">Game Title: <%= @game.title %></h1>
  <h3>General Ratings: <%= @reviews.count %> feedbacks</h3>
  <%= link_to 'download pdf', game_review_path(@game.id), class: "orange"%> |
  <%= link_to 'download game', @game.attachment_url, class: "orange"%>

  <div style="text-align: center"><h3>Overview</h3></div>
  <h3><%= pluralize @game.reviews.count, "Plays" %></h3>

  <!-- Graph -->
  <%= render 'graph' %>

  <a class="orange" href="#">Download crash logs</a>
  <div class="back-btn-update"><%= link_to '<<Back', games_path %></div>
</div>
